.aduh {
	background-image: url('a.jpg');
	background-size: cover;
}

.coeg {
	background-image: url('b.jpg');
	background-size: cover;
}

.pop {
	background-color: white;
	border-radius: 150px 9px 9px 150px;
}

.pop1 {
	background-color: red;
	border-radius: 9px 150px 150px 9px;
}