<!DOCTYPE html>
<html ng-app="AdminLogin">
<head>
	<title>Form Login</title>
	<link rel="shortcut icon" type="image/x-icon" href="to.jpg">
	<link rel="stylesheet" type="text/css" href="bootstrap.css">
	<link rel="stylesheet" type="text/css" href="dot.css">
	<script type="text/javascript" src="angular.js"></script>
	<script type="text/javascript" src="dot.js"></script>
</head>
<body ng-controller="LoginAdmin" class="coeg">
    <div class="row">
		<div class="col-md-12">

		</div>
	</div>
		<div class="row">
			<div class="col-md-4">

			</div>

			<div class="col-md-4" style="margin-top: 100px;">
			<img src="kaka.jpg" width="320px" style="border-radius: 5px 5px 5px 5px;">
			<br>
			<br>
			<input ng-model="username" class="form-control" type="text" placeholder="Username...">
			<br>
			<input ng-model="password" class="form-control" type="password" placeholder="Password...">
			<br>
			<button class="btn btn-warning btn-block" ng-click="login()">Login</button>
			<br>
			<span style="color:black">{{login1}}</span>
			</div>

			<div class="col-md-4">

			</div>
		</div>
</body>
</html>