<ol>
<li>
<p>Kapan terjadinya perang diponegoro ?</p>
<p>
<ul>
<li>
 <input type="radio" ng-model="form.pilihan1" value="1945" name="pilihan1">a. 1945
</li>
<li>
 <input type="radio" ng-model="form.pilihan1" value="1946" name="pilihan1">b. 1946
</li>
<li>
 <input type="radio" ng-model="form.pilihan1" value="1947" name="pilihan1">c. 1947
</li>
<li>
 <input type="radio" ng-model="form.pilihan1" value="1948" name="pilihan1">d. 1948
</li>
<li>
 <input type="radio" ng-model="form.pilihan1" value="1949" name="pilihan1">e. 1949
</li>
</ul>
</p>
</li>
<li>
<p>pada tahun berapa pangeran diponegoro meninggal ?</p>
<p>
<ul>
<li>
	<input type="radio" ng-model="form.pilihan2" value="1946" name="pilihan2">a. 1946
</li>
<li>
	<input type="radio" ng-model="form.pilihan2" value="1947" name="pilihan2">b. 1947
</li>
<li>
	<input type="radio" ng-model="form.pilihan2" value="1948" name="pilihan2">c. 1948
</li>
<li>
	<input type="radio" ng-model="form.pilihan2" value="1949" name="pilihan2">d. 1949
</li>
<li>
	<input type="radio" ng-model="form.pilihan2" value="1950" name="pilihan2">e. 1950
</li>
</ul>
</p>
</li>
<li>
<p>dimana letak kerajaan sriwijaya ?</p>
<p>
<ul>
<li>
	<input type="radio" ng-model="form.pilihan3" value="sulawesi" name="pilihan3">a. sulawesi
</li>
<li>
	<input type="radio" ng-model="form.pilihan3" value="kalimantan" name="pilihan3">b. kalimantan
</li>
<li>
	<input type="radio" ng-model="form.pilihan3" value="sumatera" name="pilihan3">c. sumatera
</li>
<li>
	<input type="radio" ng-model="form.pilihan3" value="jawa" name="pilihan3">d. jawa
</li>
<li>
	<input type="radio" ng-model="form.pilihan3" value="papua" name="pilihan3">e. papua
</li>
</ul>
</p>
</li>
<li>
<p>10x2 = ?</p>
<p>
<ul>
<li>
	<input type="radio" ng-model="form.pilihan4" value="20" name="pilihan4">a. 20
</li>
<li>
	<input type="radio" ng-model="form.pilihan4" value="10" name="pilihan4">b. 10
</li>
<li>
	<input type="radio" ng-model="form.pilihan4" value="19" name="pilihan4">c. 19
</li>
<li>
	<input type="radio" ng-model="form.pilihan4" value="49" name="pilihan4">d. 49
</li>
<li>
	<input type="radio" ng-model="form.pilihan4" value="50" name="pilihan4">e. 50
</li>
</ul>
</p>
</li>
<li>
<p>salah satu makanan khas padang dibawah ini adalah ?</p>
<p>
<ul>
<li>
	<input type="radio" ng-model="form.pilihan5" value="rendang" name="pilihan5">a. rendang
</li>
<li>
	<input type="radio" ng-model="form.pilihan5" value="sate" name="pilihan5">b. sate
</li>
<li>
	<input type="radio" ng-model="form.pilihan5" value="gule" name="pilihan5">c. gule
</li>
<li>
	<input type="radio" ng-model="form.pilihan5" value="humberger" name="pilihan5">d. humburger
</li>
<li>
	<input type="radio" ng-model="form.pilihan5" value="rujak bebek" name="pilihan5">e. rujak bebek
</li>
</ul>
</p>
</li>
<li>
<p>lagu indonesia raya diciptakan oleh ?</p>
<p>
<ul>
<li>
 <input type="radio" ng-model="form.pilihan6" value="w.r supratman" name="pilihan6">a. w.r supratman
</li>
<li>
 <input type="radio" ng-model="form.pilihan6" value="megawati" name="pilihan6">b. megawati
</li>
<li>
 <input type="radio" ng-model="form.pilihan6" value="ir. soekarno" name="pilihan6">c. ir. soekarno
</li>
<li>
 <input type="radio" ng-model="form.pilihan6" value="jokowi" name="pilihan6">d. jokowi
</li>
<li>
 <input type="radio" ng-model="form.pilihan6" value="ibu sud" name="pilihan6">e. ibu sud
</li>
</ul>
</p>
</li>
<li>
<p>siapa pengetik naskah proklamasi ?</p>
<p>
<ul>
<li>
	<input type="radio" ng-model="form.pilihan7" value="sayuti melik" name="pilihan7">a. sayuti melik
</li>
<li>
	<input type="radio" ng-model="form.pilihan7" value="w.r supratman" name="pilihan7">b. w.r supratman
</li>
<li>
	<input type="radio" ng-model="form.pilihan7" value="jendral soedirman" name="pilihan7">c. jendral soedirman
</li>
<li>
	<input type="radio" ng-model="form.pilihan7" value="moh hatta" name="pilihan7">d. moh hatta
</li>
<li>
	<input type="radio" ng-model="form.pilihan7" value="ir. soekarno" name="pilihan7">e. ir. soekarno
</li>
</ul>
</p>
</li>
<li>
<p>10:2 = ... ?</p>
<p>
<ul>
<li>
	<input type="radio" ng-model="form.pilihan8" value="3" name="pilihan8">a. 3
</li>
<li>
	<input type="radio" ng-model="form.pilihan8" value="20" name="pilihan8">b. 20
</li>
<li>
	<input type="radio" ng-model="form.pilihan8" value="7" name="pilihan8">c. 7
</li>
<li>
	<input type="radio" ng-model="form.pilihan8" value="5" name="pilihan8">d. 5
</li>
<li>
	<input type="radio" ng-model="form.pilihan8" value="11" name="pilihan8">e. 11
</li>
</ul>
</p>
</li>
<li>
<p>100x2 = ... ?</p>
<p>
<ul>
<li>
	<input type="radio" ng-model="form.pilihan9" value="20" name="pilihan9">a. 20
</li>
<li>
	<input type="radio" ng-model="form.pilihan9" value="200" name="pilihan9">b. 200
</li>
<li>
	<input type="radio" ng-model="form.pilihan9" value="300" name="pilihan9">c. 300
</li>
<li>
	<input type="radio" ng-model="form.pilihan9" value="400" name="pilihan9">d. 400
</li>
<li>
	<input type="radio" ng-model="form.pilihan9" value="100" name="pilihan9">e. 100
</li>
</ul>
</p>
</li>
<li>
<p>indonesia merdeka pada tahun ? ?</p>
<p>
<ul>
<li>
	<input type="radio" ng-model="form.pilihan10" value="1960" name="pilihan10">a. 1960
</li>
<li>
	<input type="radio" ng-model="form.pilihan10" value="1980" name="pilihan10">b. 1980
</li>
<li>
	<input type="radio" ng-model="form.pilihan10" value="1958" name="pilihan10">c. 1958
</li>
<li>
	<input type="radio" ng-model="form.pilihan10" value="2000" name="pilihan10">d. 2000
</li>
<li>
	<input type="radio" ng-model="form.pilihan10" value="1945" name="pilihan10">e. 1945
</li>
</ul>
</p>
</li>
</ol>
<pre>{{form|json}}</pre>