<div class="container">
    <fieldset class="form-horizontal">

    <!-- Form Name -->
    <legend>Input Ujian</legend>



    <!-- Select Multiple -->
    <div class="form-group">
    <label class="col-md-4 control-label">Judul Ujian</label>
      <div class="col-md-5">
          <input class="form-control" type="text" ng-model="form.judul" name="Judul">
      </div>
    </div>

    <div class="form-group">
    <label class="col-md-4 control-label">Deskripsi Ujian</label>
      <div class="col-md-5">
          <input class="form-control" type="text" ng-model="form.deskripsi" name="Deskripsi">
      </div>
    </div>

    <div class="form-group">
    <label class="col-md-4 control-label">Mapel</label>
      <div class="col-md-5">
          <input class="form-control" type="text" ng-model="form.mapel" name="Mapel">
      </div>
    </div>

    <div class="form-group">
    <label class="col-md-4 control-label">Kelas</label>
        <div class="col-md-5">
          <input class="form-control" type="text" ng-model="form.kelas" name="Kelas">
        </div>
    </div>

    <div class="form-group">
    <label class="col-md-4 control-label">Nilai</label>
        <div class="col-md-5">
          <input class="form-control" type="text" ng-model="form.nilai" name="nilai">
        </div>
    </div>

    <div class="form-group">
    <label class="col-md-4 control-label" for="mapel">Tanggal Ujian</label>
        <div class="col-md-4">
            <input class="form-control" type="text" ng-model="form.tanggal" name="tanggal">
        </div>
    </div>
    
    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="singlebutton"></label>
      <div class="col-md-4">
        <button type="button" ui-sref="exams" class="btn btn-warning">Cancel</button>
        <button type="button" ng-click="create()" class="btn btn-primary">Simpan</button>
      </div>
    </div>

    </fieldset>
</div>