<div class="container">
    <fieldset class="form-horizontal">

    <!-- Form Name -->
    <legend>Input Soal</legend>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="Current Fleet Size">Mapel</label>  
      <div class="col-md-5">
      <select ng-options="o.id as o.name for o in subjects" ng-model="form.subject" class="form-control"></select>
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="Annual Forklift Purchases">Kelas</label>  
      <div class="col-md-5">
        <select ng-options="o.id as o.name for o in classes" ng-model="form.class" class="form-control"></select>
      </div>
    </div>

    <hr/>

    <div class="form-group">
    <label class="col-md-4 control-label">Pertanyaan</label>
      <div class="col-md-5">
          <textarea class="form-control" ng-model="form.question"></textarea>
      </div>
    </div>

    <!-- Select Multiple -->
    <div class="form-group">
    <label class="col-md-4 control-label">Jawaban 1</label>
      <div class="col-md-5">
          <input class="form-control" type="text" ng-model="form.opt1" name="jawaban1">
      </div>
    </div>

    <div class="form-group">
    <label class="col-md-4 control-label">Jawaban 2</label>
      <div class="col-md-5">
          <input class="form-control" type="text" ng-model="form.opt2" name="jawaban2">
      </div>
    </div>

    <div class="form-group">
    <label class="col-md-4 control-label">Jawaban 3</label>
      <div class="col-md-5">
          <input class="form-control" type="text" ng-model="form.opt3" name="jawaban3">
      </div>
    </div>

    <div class="form-group">
    <label class="col-md-4 control-label">Jawaban 4</label>
      <div class="col-md-5">
          <input class="form-control" type="text" ng-model="form.opt4" name="jawaban4">
      </div>
    </div>
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="Message">Jawaban Benar</label>  
      <div class="col-md-5">
      <input type="radio" name="x" value="1" ng-model="form.answer"> Jawaban 1<br>
      <input type="radio" name="x" value="2" ng-model="form.answer"> Jawaban 2<br>
      <input type="radio" name="x" value="3" ng-model="form.answer"> Jawaban 3<br>
      <input type="radio" name="x" value="4" ng-model="form.answer"> Jawaban 4
        
      </div>
    </div>

    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="singlebutton"></label>
      <div class="col-md-4">
        <button type="button" ui-sref="questions" class="btn btn-warning">Cancel</button>
        <button type="button" ng-click="create()" class="btn btn-primary">Simpan</button>
      </div>
    </div>

    </fieldset>
</div>