<div class="row">
    <ul class="breadcrumb">
        <li class="completed"><a href=""><i class="glyphicon glyphicon-plane"></i> Home</a></li>
        <li class="active"><a ui-sref="route" href=""><i class="glyphicon glyphicon-plane"></i> Route</a></li>
        <li><a href=""><i class="glyphicon glyphicon-plane"></i> Passenger</a></li>
    </ul>
</div>
<div class="form-horizontal col-md-6 col-md-offset-3" style="margin-top: 80px">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-xs-3 col-md-3 text-center">
                        <img src="img/citilink.png" alt="bootsnipp" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-xs-9 col-md-9 section-box">
                        <h2>
                            <a href="" ng-click="next()"> <i class="glyphicon glyphicon-th"></i> CGK - SUB</a>
                        </h2>
                        <p>
                            <span class="badge"><i class="glyphicon glyphicon-calendar"></i> Jumat, 23 Desember 2016</span>
                            <span class="badge"><i class="glyphicon glyphicon-time"></i> 08.00 s.d. 10.00</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-xs-3 col-md-3 text-center">
                        <img src="img/citilink.png" alt="bootsnipp" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-xs-9 col-md-9 section-box">
                        <h2>
                            <a href="" ng-click="next()"> <i class="glyphicon glyphicon-th"></i> SUB - CGK</a>
                        </h2>
                        <p>
                            <span class="badge"><i class="glyphicon glyphicon-calendar"></i> Selasa, 27 Desember 2016</span>
                            <span class="badge"><i class="glyphicon glyphicon-time"></i> 08.00 s.d. 10.00</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
