<div class="container">
    <fieldset class="form-horizontal">

    <!-- Form Name -->
    <legend>Create User</legend>



    <!-- Select Multiple -->
    <div class="form-group">
    <label class="col-md-4 control-label">Nama</label>
      <div class="col-md-5">
          <input class="form-control" type="text" ng-model="form.nama" name="Nama">
      </div>
    </div>

    <div class="form-group">
    <label class="col-md-4 control-label">Email</label>
      <div class="col-md-5">
          <input class="form-control" type="text" ng-model="form.email" name="Email">
      </div>
    </div>

    <div class="form-group">
    <label class="col-md-4 control-label">Handphone</label>
      <div class="col-md-5">
          <input class="form-control" type="number" ng-model="form.handphone" name="Handphone">
      </div>
    </div>

    <div class="form-group">
    <label class="col-md-4 control-label">Role</label>
        <div class="col-md-5">
          <select ng-options="o as o for o in roles" ng-model="form.role" class="form-control"></select>
        </div>
    </div>

    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="singlebutton"></label>
      <div class="col-md-4">
        <button type="button" ui-sref="users" class="btn btn-warning">Cancel</button>
        <button type="button" ng-click="create()" class="btn btn-primary">Simpan</button>
      </div>
    </div>

    </fieldset>
</div>